<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adobereader"/>
	<package id="discord"/>
	<package id="epicgameslauncher"/>
	<package id="git"/>
	<package id="googlechrome"/>
	<package id="chrome-remote-desktop-host"/>
	<package id="cpu-z"/>
	<package id="vscode"/>
	<package id="notepadplusplus.install"/>
	<package id="nodejs"/>
	<package id="javaruntime"/>
	<package id="jdk8"/>
	<package id="python"/>
	<package id="qbittorrent"/>
	<package id="winrar"/>
	<package id="steam"/>
	<package id="vlc"/>
</packages>
